/*
  Moshe Frankipour 206196693
  Sergey Juchenko 319365102
*/
.MuiInputBase-input {
  color: #fb8217 !important;
  font-size: 18px !important;
}

.MuiInputBase-input::selection {
  color: #fff !important;
}

#category-label {
  color: #000;
}

#title-label,
#cost-label,
#category-label,
#date-label {
  color: #fb811798;
}
