/*
  Moshe Frankipour 206196693
  Sergey Juchenko 319365102
*/
.MuiInputBase-input {
  color: #fff !important;
  font-size: 22px !important;
}

.MuiInputBase-input::selection {
  color: #fff !important;
}

#category-label {
  color: #000;
}
