/*
  Moshe Frankipour 206196693
  Sergey Juchenko 319365102
*/
.button-style {
  text-transform: uppercase;
  background-color: #fb8217;
  padding: 10px;
  width: 220px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px #fb811738;
  border: none;
  font-size: 14px;
  color: #121212;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-style:hover {
  box-shadow: 0px 0px 15px #fb81177a;
}

.plus-icon {
  height: 40px;
  width: 40px;
  background-color: #121212;
  border-radius: 100%;
  position: relative;
}

.plus-icon::before {
  content: "";
  background-color: #fb8217;
  height: 20px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-icon::after {
  content: "";
  background-color: #fb8217;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
